body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:394px;
  top:70px;
  width:786px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:394px;
  top:70px;
  width:786px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:404px;
  top:78px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1154px;
  top:76px;
  width:14px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:394px;
  top:580px;
  width:786px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:995px;
  top:585px;
  width:75px;
  height:30px;
  font-size:20px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1081px;
  top:585px;
  width:75px;
  height:30px;
  font-size:20px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:430px;
  top:130px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:560px;
  top:130px;
  width:220px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:809px;
  top:130px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:939px;
  top:130px;
  width:220px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:430px;
  top:195px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:560px;
  top:195px;
  width:220px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:814px;
  top:195px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:944px;
  top:195px;
  width:220px;
  height:30px;
  font-size:15px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1141px;
  top:200px;
  width:15px;
  height:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:430px;
  top:269px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:560px;
  top:269px;
  width:220px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:814px;
  top:269px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:944px;
  top:269px;
  width:220px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:430px;
  top:320px;
  width:734px;
  height:180px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:180px;
}
#u41 {
  position:absolute;
  left:2px;
  top:82px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:430px;
  top:530px;
  width:734px;
  height:40px;
  color:#CCCCCC;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:730px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:430px;
  top:320px;
  width:734px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:450px;
  top:326px;
  width:46px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:590px;
  top:326px;
  width:31px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:708px;
  top:326px;
  width:31px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:864px;
  top:326px;
  width:61px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1056px;
  top:326px;
  width:76px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:521px;
  top:320px;
  width:10px;
  height:180px;
}
#u56_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u56_end {
  position:absolute;
  left:-5px;
  top:163px;
  width:20px;
  height:18px;
}
#u56_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:180px;
}
#u57 {
  position:absolute;
  left:662px;
  top:320px;
  width:10px;
  height:180px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:163px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:180px;
}
#u58 {
  position:absolute;
  left:784px;
  top:320px;
  width:10px;
  height:180px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:163px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:180px;
}
#u59 {
  position:absolute;
  left:1035px;
  top:320px;
  width:10px;
  height:180px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:163px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:180px;
}
#u60 {
  position:absolute;
  left:430px;
  top:370px;
  width:734px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:717px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:734px;
  height:1px;
}
#u61 {
  position:absolute;
  left:430px;
  top:402px;
  width:734px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:717px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:734px;
  height:1px;
}
#u62 {
  position:absolute;
  left:430px;
  top:432px;
  width:734px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:717px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:734px;
  height:1px;
}
#u63 {
  position:absolute;
  left:430px;
  top:463px;
  width:734px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:717px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:734px;
  height:1px;
}
