body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1015px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:375px;
  top:30px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:611px;
  top:100px;
  width:202px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:375px;
  top:1067px;
  width:640px;
  height:99px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:99px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:375px;
  top:158px;
  width:640px;
  height:92px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:92px;
}
#u7 {
  position:absolute;
  left:2px;
  top:38px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:375px;
  top:239px;
  width:640px;
  height:140px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:140px;
}
#u9 {
  position:absolute;
  left:2px;
  top:62px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:408px;
  top:172px;
  width:51px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:496px;
  top:166px;
  width:414px;
  height:64px;
  font-size:28px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:64px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:410px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:375px;
  top:379px;
  width:215px;
  height:191px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:191px;
}
#u15 {
  position:absolute;
  left:2px;
  top:88px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:588px;
  top:379px;
  width:215px;
  height:191px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:191px;
}
#u17 {
  position:absolute;
  left:2px;
  top:88px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:802px;
  top:379px;
  width:213px;
  height:191px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:191px;
}
#u19 {
  position:absolute;
  left:2px;
  top:88px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:375px;
  top:569px;
  width:215px;
  height:191px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:191px;
}
#u21 {
  position:absolute;
  left:2px;
  top:88px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:588px;
  top:569px;
  width:215px;
  height:191px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:191px;
}
#u23 {
  position:absolute;
  left:2px;
  top:88px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:802px;
  top:569px;
  width:213px;
  height:191px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:191px;
}
#u25 {
  position:absolute;
  left:2px;
  top:88px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:375px;
  top:759px;
  width:215px;
  height:191px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:191px;
}
#u27 {
  position:absolute;
  left:2px;
  top:88px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:588px;
  top:759px;
  width:215px;
  height:191px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:191px;
}
#u29 {
  position:absolute;
  left:2px;
  top:88px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:802px;
  top:759px;
  width:213px;
  height:191px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:191px;
}
#u31 {
  position:absolute;
  left:2px;
  top:88px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:418px;
  top:456px;
  width:129px;
  height:37px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:615px;
  top:456px;
  width:161px;
  height:37px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:844px;
  top:456px;
  width:129px;
  height:37px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:434px;
  top:646px;
  width:97px;
  height:37px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:647px;
  top:646px;
  width:97px;
  height:37px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:844px;
  top:646px;
  width:129px;
  height:37px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:418px;
  top:836px;
  width:129px;
  height:37px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:631px;
  top:836px;
  width:129px;
  height:37px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:890px;
  top:820px;
  width:36px;
  height:69px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:60px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:69px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:630px;
  top:290px;
  width:129px;
  height:37px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
