body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-211px;
  top:63px;
  width:1800px;
  height:753px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:753px;
}
#u1 {
  position:absolute;
  left:2px;
  top:368px;
  width:1796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:296px;
  top:257px;
  width:126px;
  height:156px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:156px;
}
#u3 {
  position:absolute;
  left:2px;
  top:62px;
  width:122px;
  word-wrap:break-word;
}
