body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-219px;
  top:2px;
  width:1816px;
  height:876px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1816px;
  height:876px;
}
#u1 {
  position:absolute;
  left:2px;
  top:430px;
  width:1812px;
  visibility:hidden;
  word-wrap:break-word;
}
