body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-222px;
  top:60px;
  width:1823px;
  height:759px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1823px;
  height:759px;
}
#u1 {
  position:absolute;
  left:2px;
  top:372px;
  width:1819px;
  visibility:hidden;
  word-wrap:break-word;
}
